SPEECH_KEY=YOUR_REAL_KEY
SPEECH_ENDPOINT=https://koreacentral.api.cognitive.microsoft.com/
SPEECH_REGION=koreacentral
SPEECH_SOURCE_LANGUAGE=en-US
SPEECH_TARGET_LANGUAGE=vi

SPIKE_PHRASE_LIST_ENABLED=true
SPIKE_PHRASE_LIST_WEIGHT=1.5
SPIKE_PHRASE_LIST_TERMS=eigenstate,eigenstates,eigenvalue,eigenvalues,eigenfunction,Hamiltonian,quantum state,wave function,Schrodinger equation,Schrödinger equation

SPIKE_AUDIO_PATH=./samples/physics.pcm
SPIKE_AUDIO_SECONDS_LIMIT=20
SPIKE_CHUNK_MS=50
